@import '../../variables.scss';

.unAuthenticated {
    padding: 32px;
    min-height: calc(100vh - 350px);
    @media screen and (max-width: $breakpoint-small) {
        padding: 16px;
    }
}
.detailsLoader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 300px;
    @media screen and (min-width: $breakpoint-small-up) {
        height: 600px;
    }
}
.cartAddress {
    padding: 32px;
    @media screen and (max-width: $breakpoint-small) {
        padding: 16px;
    }
    .backLink {
        font-size: 12px;
        font-weight: 400;
        color: #222;
        text-align: start;
        display: flex;
        cursor: pointer;
        &:hover {
            color: #2d9bf0;
        }
        @media screen and (min-width: $breakpoint-medium-up) {
            font-size: 14px;
        }
    }
    .orderSummary {
        .title {
            font-size: 20px;
        }
        .summaryContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #f6f6f6;
            padding: 16px;
            width: 700px;
            border-radius: 4px;
            margin: 0 auto;
            @media screen and (max-width: $breakpoint-small) {
                flex-direction: column;
                width: calc(100% - 32px);
                gap: 4px;
            }
        }
    }
    .title {
        font-size: 24px;
        font-weight: 500;
        margin: 24px 0 12px;
        @media screen and (max-width: $breakpoint-small) {
            font-size: 20px;
        }
    }
    .addressForms {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media screen and (min-width: $breakpoint-medium-up) {
            width: 700px;
            margin: 0 auto;
        }
        :global(.form-input) {
            box-sizing: border-box;
        }
        .prefixFlag {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
        }
        .sameRowFields {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 16px;
            @media screen and (max-width: $breakpoint-medium) {
                flex-direction: column;
                gap: 0;
            }
        }
        .pincodeField {
            width: 100%;
            .districtDetails {
                font-size: 12px;
                font-style: italic;
                text-align: start;
            }
        }
        .disabledField {
            width: 100%;
            :global(.input-group) {
                background-color: #f6f6f6;
            }
        }
    }
    .orderButtonRow {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 64px;
        border-top: solid 1px #ccc;
        margin: 0 -16px;
        background-color: white;
        @media screen and (min-width: $breakpoint-small-up) {
            width: 700px;
            position: relative;
            margin: 0 auto;
            border-top: 0;
        }
        .orderButton {
            width: calc(100% - 16px);
            background-color: #2d9bf0;
            color: white;
            border: none;
            border-radius: 8px;
            padding: 16px 20px;
            margin: 8px 0;
            font-size: 14px;
            font-weight: 600;
            &.disabled {
                cursor: not-allowed;
                opacity: 0.6;
                transform: none;
                box-shadow: none;
            }
            &.enabled {
                cursor: pointer;
            }
        } 
    }
    .modal {
        :global(.modal) {
            width: 700px;
            height: 400px;
            @media screen and (max-width: $breakpoint-small) {
                width: calc(100% - 32px);
                height: 350px;
                overflow: hidden;
            }
        }
        .loader {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            justify-content: center;
            width: calc(100% - 48px);
            height: 400px;
            @media screen and (max-width: $breakpoint-small) {
                height: 300px;
            } 
        }
    }
}