@import '../../variables.scss';

.products {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    @media screen and (max-width: $breakpoint-small) {
        padding: 16px;
        flex-direction: column-reverse;
    }
    .image {
        width: 50%;
        @media screen and (max-width: $breakpoint-small) {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .textContainer {
        width: 50%;
        padding: 16px;
        box-sizing: border-box;
        @media screen and (max-width: $breakpoint-small) {
            width: 100%;
        }
        .sectionTitle {
            font-size: 28px;
            font-weight: 600;
        }
        .content {
            margin-top: 16px;
        }
    }
}