@import '../../variables.scss';

.loginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    @media screen and (min-width: $breakpoint-small-up) {
        padding: 20px;
        margin-top: 0;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        color: #222;
        line-height: 150%;
    }
    .subTitle {
        font-size: 16px;
        margin-top: 12px;
    }
    .inputField {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        border: solid 1px black;
        width: 250px;
        padding: 10px 6px;
        .mobileCode {
            width: 78px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2px;
            img {
                width: 20px;
            }
        }
        input {
            border: none;
            font-size: 16px;
            font-weight: 500;
            color: #222;
            width: calc(100% - 78px);
            appearance: textfield;
            -moz-appearance: textfield;
            &:focus-within {
                outline: 0;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .otpField {
        margin-top: 16px;
        input {
            width: 42px !important;
            height: 44px;
            appearance: textfield;
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    button {
        width: 250px;
        background-color: #ccc;
        color: #fff;
        margin-top: 24px;
        border: none;
        border-radius: 6px;
        padding: 12px 4px;
        font-size: 16px;
        font-weight: 600;
        cursor: not-allowed;
        &.active {
            cursor: pointer;
            background-color: $l-primary;
        }
        &.loading {
            cursor: not-allowed;
            background-color: $l-primary;
        }
    }
    .resendText {
        font-size: 14px;
        font-weight: 500;
        margin-top: 12px;
        color: #757575;
    }
    .resendLink {
        font-size: 14px;
        font-weight: 500;
        margin-top: 12px;
        color: $l-primary;
        cursor: pointer;
    }
    .error {
        font-size: 14px;
        font-weight: 500;
        color: red;
        margin-top: 12px;
    }
}