@import '../../variables.scss';

.productCard {
    width: calc((100vw - 120px) / 4);
    height: 325px;
    box-shadow: rgba(96, 96, 96, 0.16) 0px 2px 6px;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    text-align: start;
    background-color: #fff;
    @media screen and (max-width: $breakpoint-small) {
        min-width: auto;
        width: calc((100vw - 28px) / 2);
    }
    @media screen and (min-width: $breakpoint-small-up) and (max-width: $breakpoint-large) {
        min-width: auto;
        width: calc((100vw - 54px) / 3);
    }
    .productImage {
        width: 100%;
        height: 150px;
    }
    .productContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 150px);
        .contentTop {
            .productName {
                font-size: 16px;
                font-weight: 500;
                color: black;
            }
            .extrasStmt {
                height: 20px;    
                margin-top: 4px;         
            }
        }
        .contentBottom {
            .price {
                font-size: 16px;
                font-weight: 600;
                color: #222;
                margin-bottom: 8px;
                .symbol {
                    font-size: 14px;
                }
            }
            .quantityRow {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .quantityInput {
                    .inputField {
                        width: 80px;
                        height: 36px;
                        box-sizing: border-box;
                        margin-left: 8px;
                        font-size: 18px;
                        color: #222;
                        padding: 4px 8px;
                        text-align: center;
                    }
                }
                .addCartButton {
                    width: 112px;
                    height: 36px;
                    background-color: #2d9bf0;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    padding: 2px 16px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}