@import '../../variables.scss';

.productTiles {
    padding: 32px 64px 64px;
    @media screen and (max-width: $breakpoint-medium) {
        padding: 16px 16px 0;
    }
    .title {
        font-size: 24px;
        font-weight: 500;
        text-align: start;
    }
    .tileContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;
        gap: 32px;
        @media screen and (max-width: $breakpoint-medium) {
            gap: 16px;
        }
        .tile {
            max-width: calc((100% - 160px)/6);
            height: 204px;
            box-shadow: rgba(96, 96, 96, 0.16) 0px 4px 8px;
            cursor: pointer;
            overflow: hidden;
            @media screen and (max-width: $breakpoint-large) {
                max-width: calc((100% - 112px)/4);
            }
            @media screen and (max-width: $breakpoint-medium) {
                max-width: calc((100% - 32px)/3);
            }
            @media screen and (max-width: $breakpoint-small) {
                max-width: calc((100% - 16px)/2);
            }
            &:hover {
                .image {
                    transform: scale(1.1);
                }
            }
            .image {
                width: calc(100% - 12px);
                height: calc(100% - 43px);
                object-fit: contain;
                transition: 0.5s all ease-in-out;
            }
            .label {
                font-size: 16px;
                font-weight: 500;
                max-width: calc(100% - 16px);
                margin: 12px 0;
                padding: 0 4px 0 8px;
                text-align: start;
                border-left: 4px solid $l-primary;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}