@import '../../variables.scss';

.footer {
    width: 100%;
    padding: 32px;
    background-color: #fafbfc;
    .linksContainer {
        display: flex;
        flex-direction: row;
        .linksColumn {
            display: flex;
            flex-direction: column;
            a {
                color: black;
                text-align: start;
                text-decoration: none;
                margin: 8px;
            }
        }
    }
}