$breakpoint-small: 544px;
$breakpoint-medium: 768px;
$breakpoint-large: 1004px;
$breakpoint-small-up: 545px;
$breakpoint-medium-up: 769px;

$font-family-body: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-family-heading: 'Gilroy', -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;

$l-primary: #2d9bf0;
